<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Gabrielle.Api.Core" value="https://www.myget.org/F/brs-nuget/auth/e9051d05-4473-4038-9f6e-e2106efa8556/api/v2" />
    </packageSources>
</configuration>
